<!DOCTYPE html>
<html>
<head>
	<title>Static File Server</title>
</head>
<body>
  <h1><%= title %></h1>
  <a href="<%= back %>"><h3>Go back</h3></a>
<%-include('./body.ejs')%>
<%-include('./footer.ejs')%>
